layout {
  default_tab_template hide_floating_panes=true {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children

    pane size=1 borderless=true {
      plugin location="status-bar"
    }
  }

  swap_floating_layout {
    floating_panes exact_panes=1 {
      pane {
        command "lazygit"
        close_on_exit true
        x "5%"
        y "5%"
        width "90%"
        height "90%"
      }
    }
  }

  // Editor — opens at workspace root
  tab name="vi" cwd="/Users/alexander/projects/remote/employ" hide_floating_panes=true {
    pane command="nvim"
  }

  tab name="employ" cwd="/Users/alexander/projects/remote/employ" hide_floating_panes=true {
    pane split_direction="vertical" {
      pane
      pane
    }
    pane split_direction="vertical" {
      pane
      pane
    }
  }

  // Tiger
  tab name="tiger:dev" cwd="/Users/alexander/projects/remote/employ/tiger/apps/tiger" hide_floating_panes=true {
    pane split_direction="vertical" {
      pane {
        command "pg_ctl"
        args "start"
      }
      pane {
        command "zsh"
        args "-c" "MIX_ENV=test iex --sname test_server -S mix"
      }
      pane {
        command "zsh"
        args "-c"  "iex -S mix phx.server"
      }
    }
    pane split_direction="vertical" {
      pane
      pane
    }
  }

  // Dragon
  tab name="dragon:dev" cwd="/Users/alexander/projects/remote/employ/dragon" hide_floating_panes=true {
    pane
    pane
  }
}
